:global {
  /* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
  /* stylelint-disable no-duplicate-selectors */
  /* stylelint-disable */
  /* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
  /* stylelint-disable-next-line */ }
  :global .ant-picker {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    padding: 4px 11px 4px;
    position: relative;
    display: inline-flex;
    align-items: center;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: border 0.3s, box-shadow 0.3s; }
  :global .ant-picker:hover,
  :global .ant-picker-focused {
    border-color: #363232;
    border-right-width: 1px !important; }
  :global .ant-picker-focused {
    border-color: #363232;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(40, 40, 40, 0.2); }
  :global .ant-picker.ant-picker-disabled {
    background: #f5f5f5;
    border-color: #d9d9d9;
    cursor: not-allowed; }
  :global .ant-picker.ant-picker-disabled .ant-picker-suffix {
    color: rgba(0, 0, 0, 0.25); }
  :global .ant-picker.ant-picker-borderless {
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important; }
  :global .ant-picker-input {
    position: relative;
    display: inline-flex;
    align-items: center;
    width: 100%; }
  :global .ant-picker-input > input {
    position: relative;
    display: inline-block;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    transition: all 0.3s;
    flex: auto;
    min-width: 1px;
    height: auto;
    padding: 0;
    background: transparent;
    border: 0; }
  :global .ant-picker-input > input::-moz-placeholder {
    opacity: 1; }
  :global .ant-picker-input > input:-ms-input-placeholder {
    color: #bfbfbf; }
  :global .ant-picker-input > input::placeholder {
    color: #bfbfbf; }
  :global .ant-picker-input > input:-moz-placeholder-shown {
    text-overflow: ellipsis; }
  :global .ant-picker-input > input:-ms-input-placeholder {
    text-overflow: ellipsis; }
  :global .ant-picker-input > input:placeholder-shown {
    text-overflow: ellipsis; }
  :global .ant-picker-input > input:hover {
    border-color: #363232;
    border-right-width: 1px !important; }
  :global .ant-picker-input > input:focus,
  :global .ant-picker-input > input-focused {
    border-color: #363232;
    border-right-width: 1px !important;
    outline: 0;
    box-shadow: 0 0 0 2px rgba(40, 40, 40, 0.2); }
  :global .ant-picker-input > input-disabled {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1; }
  :global .ant-picker-input > input-disabled:hover {
    border-color: #d9d9d9;
    border-right-width: 1px !important; }
  :global .ant-picker-input > input[disabled] {
    color: rgba(0, 0, 0, 0.25);
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1; }
  :global .ant-picker-input > input[disabled]:hover {
    border-color: #d9d9d9;
    border-right-width: 1px !important; }
  :global .ant-picker-input > input-borderless,
  :global .ant-picker-input > input-borderless:hover,
  :global .ant-picker-input > input-borderless:focus,
  :global .ant-picker-input > input-borderless-focused,
  :global .ant-picker-input > input-borderless-disabled,
  :global .ant-picker-input > input-borderless[disabled] {
    background-color: transparent;
    border: none;
    box-shadow: none; }
  :global textarea.ant-picker-input > input {
    max-width: 100%;
    height: auto;
    min-height: 32px;
    line-height: 1.5715;
    vertical-align: bottom;
    transition: all 0.3s, height 0s; }
  :global .ant-picker-input > input-lg {
    padding: 6.5px 11px;
    font-size: 16px; }
  :global .ant-picker-input > input-sm {
    padding: 0px 7px; }
  :global .ant-picker-input > input:focus {
    box-shadow: none; }
  :global .ant-picker-input > input[disabled] {
    background: transparent; }
  :global .ant-picker-input:hover .ant-picker-clear {
    opacity: 1; }
  :global .ant-picker-input-placeholder > input {
    color: #bfbfbf; }
  :global .ant-picker-large {
    padding: 6.5px 11px 6.5px; }
  :global .ant-picker-large .ant-picker-input > input {
    font-size: 16px; }
  :global .ant-picker-small {
    padding: 0px 7px 0px; }
  :global .ant-picker-suffix {
    align-self: center;
    margin-left: 4px;
    color: rgba(0, 0, 0, 0.25);
    line-height: 1;
    pointer-events: none; }
  :global .ant-picker-suffix > * {
    vertical-align: top; }
  :global .ant-picker-clear {
    position: absolute;
    top: 50%;
    right: 0;
    color: rgba(0, 0, 0, 0.25);
    line-height: 1;
    background: #fff;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, color 0.3s; }
  :global .ant-picker-clear > * {
    vertical-align: top; }
  :global .ant-picker-clear:hover {
    color: rgba(0, 0, 0, 0.45); }
  :global .ant-picker-separator {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 16px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 16px;
    vertical-align: top;
    cursor: default; }
  :global .ant-picker-focused .ant-picker-separator {
    color: rgba(0, 0, 0, 0.45); }
  :global .ant-picker-disabled .ant-picker-range-separator .ant-picker-separator {
    cursor: not-allowed; }
  :global .ant-picker-range {
    position: relative;
    display: inline-flex; }
  :global .ant-picker-range .ant-picker-clear {
    right: 11px; }
  :global .ant-picker-range:hover .ant-picker-clear {
    opacity: 1; }
  :global .ant-picker-range .ant-picker-active-bar {
    bottom: -1px;
    height: 2px;
    margin-left: 11px;
    background: #282828;
    opacity: 0;
    transition: all 0.3s ease-out;
    pointer-events: none; }
  :global .ant-picker-range.ant-picker-focused .ant-picker-active-bar {
    opacity: 1; }
  :global .ant-picker-range-separator {
    align-items: center;
    padding: 0 8px;
    line-height: 1; }
  :global .ant-picker-range.ant-picker-small .ant-picker-clear {
    right: 7px; }
  :global .ant-picker-range.ant-picker-small .ant-picker-active-bar {
    margin-left: 7px; }
  :global .ant-picker-dropdown {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    position: absolute;
    z-index: 1050; }
  :global .ant-picker-dropdown-hidden {
    display: none; }
  :global .ant-picker-dropdown-placement-bottomLeft .ant-picker-range-arrow {
    top: 1.66666667px;
    display: block;
    transform: rotate(-45deg); }
  :global .ant-picker-dropdown-placement-topLeft .ant-picker-range-arrow {
    bottom: 1.66666667px;
    display: block;
    transform: rotate(135deg); }
  :global .ant-picker-dropdown.ant-slide-up-enter.ant-slide-up-enter-active.ant-picker-dropdown-placement-topLeft,
  :global .ant-picker-dropdown.ant-slide-up-enter.ant-slide-up-enter-active.ant-picker-dropdown-placement-topRight,
  :global .ant-picker-dropdown.ant-slide-up-appear.ant-slide-up-appear-active.ant-picker-dropdown-placement-topLeft,
  :global .ant-picker-dropdown.ant-slide-up-appear.ant-slide-up-appear-active.ant-picker-dropdown-placement-topRight {
    -webkit-animation-name: antSlideDownIn;
    animation-name: antSlideDownIn; }
  :global .ant-picker-dropdown.ant-slide-up-enter.ant-slide-up-enter-active.ant-picker-dropdown-placement-bottomLeft,
  :global .ant-picker-dropdown.ant-slide-up-enter.ant-slide-up-enter-active.ant-picker-dropdown-placement-bottomRight,
  :global .ant-picker-dropdown.ant-slide-up-appear.ant-slide-up-appear-active.ant-picker-dropdown-placement-bottomLeft,
  :global .ant-picker-dropdown.ant-slide-up-appear.ant-slide-up-appear-active.ant-picker-dropdown-placement-bottomRight {
    -webkit-animation-name: antSlideUpIn;
    animation-name: antSlideUpIn; }
  :global .ant-picker-dropdown.ant-slide-up-leave.ant-slide-up-leave-active.ant-picker-dropdown-placement-topLeft,
  :global .ant-picker-dropdown.ant-slide-up-leave.ant-slide-up-leave-active.ant-picker-dropdown-placement-topRight {
    -webkit-animation-name: antSlideDownOut;
    animation-name: antSlideDownOut; }
  :global .ant-picker-dropdown.ant-slide-up-leave.ant-slide-up-leave-active.ant-picker-dropdown-placement-bottomLeft,
  :global .ant-picker-dropdown.ant-slide-up-leave.ant-slide-up-leave-active.ant-picker-dropdown-placement-bottomRight {
    -webkit-animation-name: antSlideUpOut;
    animation-name: antSlideUpOut; }
  :global .ant-picker-dropdown-range {
    padding: 6.66666667px 0; }
  :global .ant-picker-dropdown-range-hidden {
    display: none; }
  :global .ant-picker-dropdown .ant-picker-panel > .ant-picker-time-panel {
    padding-top: 4px; }
  :global .ant-picker-ranges {
    margin-bottom: 0;
    padding: 4px 12px;
    overflow: hidden;
    line-height: 34px;
    text-align: left;
    list-style: none; }
  :global .ant-picker-ranges > li {
    display: inline-block; }
  :global .ant-picker-ranges .ant-picker-preset > .ant-tag-blue {
    color: #282828;
    background: #696362;
    border-color: #4f4b4a;
    cursor: pointer; }
  :global .ant-picker-ranges .ant-picker-ok {
    float: right;
    margin-left: 8px; }
  :global .ant-picker-range-wrapper {
    display: flex; }
  :global .ant-picker-range-arrow {
    position: absolute;
    z-index: 1;
    display: none;
    width: 10px;
    height: 10px;
    margin-left: 16.5px;
    box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.06);
    transition: left 0.3s ease-out; }
  :global .ant-picker-range-arrow::after {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 10px;
    height: 10px;
    border: 5px solid #f0f0f0;
    border-color: #fff #fff transparent transparent;
    content: ""; }
  :global .ant-picker-panel-container {
    overflow: hidden;
    vertical-align: top;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    transition: margin 0.3s; }
  :global .ant-picker-panel-container .ant-picker-panels {
    display: inline-flex;
    flex-wrap: nowrap;
    direction: ltr; }
  :global .ant-picker-panel-container .ant-picker-panel {
    vertical-align: top;
    background: transparent;
    border-width: 0 0 1px 0;
    border-radius: 0; }
  :global .ant-picker-panel-container .ant-picker-panel .ant-picker-content,
  :global .ant-picker-panel-container .ant-picker-panel table {
    text-align: center; }
  :global .ant-picker-panel-container .ant-picker-panel-focused {
    border-color: #f0f0f0; }
  :global .ant-picker-panel {
    display: inline-flex;
    flex-direction: column;
    background: #fff;
    outline: none;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    text-align: center; }
  :global .ant-picker-panel-focused {
    border-color: #282828; }
  :global .ant-picker-decade-panel,
  :global .ant-picker-year-panel,
  :global .ant-picker-quarter-panel,
  :global .ant-picker-month-panel,
  :global .ant-picker-week-panel,
  :global .ant-picker-date-panel,
  :global .ant-picker-time-panel {
    display: flex;
    flex-direction: column;
    width: 280px; }
  :global .ant-picker-header {
    display: flex;
    padding: 0 8px;
    color: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #f0f0f0; }
  :global .ant-picker-header > * {
    flex: none; }
  :global .ant-picker-header button {
    padding: 0;
    background: transparent;
    color: rgba(0, 0, 0, 0.25);
    border: 0;
    line-height: 40px;
    cursor: pointer;
    transition: color 0.3s; }
  :global .ant-picker-header > button {
    min-width: 1.6em;
    font-size: 14px; }
  :global .ant-picker-header > button:hover {
    color: rgba(0, 0, 0, 0.85); }
  :global .ant-picker-header-view {
    line-height: 40px;
    font-weight: 500;
    flex: auto; }
  :global .ant-picker-header-view button {
    color: inherit;
    font-weight: inherit; }
  :global .ant-picker-header-view button:not(:first-child) {
    margin-left: 8px; }
  :global .ant-picker-header-view button:hover {
    color: #282828; }
  :global .ant-picker-prev-icon,
  :global .ant-picker-next-icon,
  :global .ant-picker-super-prev-icon,
  :global .ant-picker-super-next-icon {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px; }
  :global .ant-picker-prev-icon::before,
  :global .ant-picker-next-icon::before,
  :global .ant-picker-super-prev-icon::before,
  :global .ant-picker-super-next-icon::before {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 0 solid currentColor;
    border-width: 1.5px 0 0 1.5px;
    content: ""; }
  :global .ant-picker-super-prev-icon::after,
  :global .ant-picker-super-next-icon::after {
    position: absolute;
    top: 4px;
    left: 4px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border: 0 solid currentColor;
    border-width: 1.5px 0 0 1.5px;
    content: ""; }
  :global .ant-picker-prev-icon,
  :global .ant-picker-super-prev-icon {
    transform: rotate(-45deg); }
  :global .ant-picker-next-icon,
  :global .ant-picker-super-next-icon {
    transform: rotate(135deg); }
  :global .ant-picker-content {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse; }
  :global .ant-picker-content th,
  :global .ant-picker-content td {
    position: relative;
    min-width: 24px;
    font-weight: 400; }
  :global .ant-picker-content th {
    height: 30px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 30px; }
  :global .ant-picker-cell {
    padding: 3px 0;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer; }
  :global .ant-picker-cell-in-view {
    color: rgba(0, 0, 0, 0.85); }
  :global .ant-picker-cell::before {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    height: 24px;
    z-index: 1;
    transform: translateY(-50%);
    transition: all 0.3s;
    content: ""; }
  :global .ant-picker-cell .ant-picker-cell-inner {
    position: relative;
    display: inline-block;
    min-width: 24px;
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
    z-index: 2;
    transition: background 0.3s, border 0.3s; }
  :global .ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner,
  :global .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end)
.ant-picker-cell-inner {
    background: #f5f5f5; }
  :global .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #282828;
    border-radius: 50%;
    z-index: 1;
    content: ""; }
  :global .ant-picker-cell-in-view.ant-picker-cell-in-range {
    position: relative; }
  :global .ant-picker-cell-in-view.ant-picker-cell-in-range::before {
    background: #f6f6f6; }
  :global .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
  :global .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner {
    background: #282828;
    color: #fff;
    border-radius: 50%; }
  :global .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner,
  :global .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
    background: #282828;
    color: #fff;
    border-radius: 50%; }
  :global .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single)::before {
    background: #f6f6f6; }
  :global .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before {
    background: #f6f6f6; }
  :global .ant-picker-cell-in-view.ant-picker-cell-range-start::before {
    left: 50%; }
  :global .ant-picker-cell-in-view.ant-picker-cell-range-end::before {
    right: 50%; }
  :global .ant-picker-cell-range-hover-start::after,
  :global .ant-picker-cell-range-hover-end::after,
  :global .ant-picker-cell-range-hover::after {
    right: 0;
    left: 2px; }
  :global .ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover::before,
  :global .ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-hover::before,
  :global .ant-picker-cell-in-view.ant-picker-cell-range-end.ant-picker-cell-range-hover::before,
  :global .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single).ant-picker-cell-range-hover-start::before,
  :global .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single).ant-picker-cell-range-hover-end::before,
  :global .ant-picker-panel
> :not(.ant-picker-date-panel)
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start::before,
  :global .ant-picker-panel
> :not(.ant-picker-date-panel)
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end::before {
    background: #818181; }
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start
.ant-picker-cell-inner::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
.ant-picker-cell-inner::after {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #818181;
    z-index: -1;
    transition: all 0.3s;
    content: ""; }
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start
.ant-picker-cell-inner::after {
    right: -6px;
    left: 0; }
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
.ant-picker-cell-inner::after {
    right: 0;
    left: -6px; }
  :global .ant-picker-cell-range-hover.ant-picker-cell-range-start::after {
    right: 50%; }
  :global .ant-picker-cell-range-hover.ant-picker-cell-range-end::after {
    left: 50%; }
  :global .ant-picker-cell-disabled {
    color: rgba(0, 0, 0, 0.25);
    pointer-events: none; }
  :global .ant-picker-cell-disabled .ant-picker-cell-inner {
    background: transparent; }
  :global .ant-picker-cell-disabled::before {
    background: rgba(0, 0, 0, 0.04); }
  :global .ant-picker-cell-disabled.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: rgba(0, 0, 0, 0.25); }
  :global .ant-picker-decade-panel .ant-picker-content,
  :global .ant-picker-year-panel .ant-picker-content,
  :global .ant-picker-quarter-panel .ant-picker-content,
  :global .ant-picker-month-panel .ant-picker-content {
    height: 264px; }
  :global .ant-picker-decade-panel .ant-picker-cell-inner,
  :global .ant-picker-year-panel .ant-picker-cell-inner,
  :global .ant-picker-quarter-panel .ant-picker-cell-inner,
  :global .ant-picker-month-panel .ant-picker-cell-inner {
    padding: 0 8px; }
  :global .ant-picker-quarter-panel .ant-picker-content {
    height: 56px; }
  :global .ant-picker-footer {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    min-width: 100%;
    text-align: center;
    line-height: 38px \* 1px;
    border-bottom: 1px solid transparent; }
  :global .ant-picker-panel .ant-picker-footer {
    border-top: 1px solid #f0f0f0; }
  :global .ant-picker-footer-extra {
    padding: 0 12px;
    text-align: left;
    line-height: 38px; }
  :global .ant-picker-footer-extra:not(:last-child) {
    border-bottom: 1px solid #f0f0f0; }
  :global .ant-picker-now {
    text-align: left; }
  :global .ant-picker-today-btn {
    color: #282828; }
  :global .ant-picker-today-btn:hover {
    color: #363232; }
  :global .ant-picker-today-btn:active {
    color: #030202; }
  :global .ant-picker-today-btn.ant-picker-today-btn-disabled {
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed; }
  :global .ant-picker-decade-panel .ant-picker-cell-inner {
    padding: 0 4px; }
  :global .ant-picker-decade-panel .ant-picker-cell::before {
    display: none; }
  :global .ant-picker-year-panel .ant-picker-body,
  :global .ant-picker-quarter-panel .ant-picker-body,
  :global .ant-picker-month-panel .ant-picker-body {
    padding: 0 8px; }
  :global .ant-picker-year-panel .ant-picker-cell-inner,
  :global .ant-picker-quarter-panel .ant-picker-cell-inner,
  :global .ant-picker-month-panel .ant-picker-cell-inner {
    width: 60px; }
  :global .ant-picker-year-panel .ant-picker-cell-range-hover-start::after,
  :global .ant-picker-quarter-panel .ant-picker-cell-range-hover-start::after,
  :global .ant-picker-month-panel .ant-picker-cell-range-hover-start::after {
    left: 272px \* 2/3-60px/2;
    border-radius: 2px 0 0 2px;
    border-left: 1px dashed #5b5b5b; }
  :global .ant-picker-panel-rtl
.ant-picker-year-panel
.ant-picker-cell-range-hover-start::after,
  :global .ant-picker-panel-rtl
.ant-picker-quarter-panel
.ant-picker-cell-range-hover-start::after,
  :global .ant-picker-panel-rtl
.ant-picker-month-panel
.ant-picker-cell-range-hover-start::after {
    right: 272px \* 2/3-60px/2;
    border-radius: 0 2px 2px 0;
    border-right: 1px dashed #5b5b5b; }
  :global .ant-picker-year-panel .ant-picker-cell-range-hover-end::after,
  :global .ant-picker-quarter-panel .ant-picker-cell-range-hover-end::after,
  :global .ant-picker-month-panel .ant-picker-cell-range-hover-end::after {
    right: 272px \* 2/3-60px/2;
    border-radius: 0 2px 2px 0;
    border-right: 1px dashed #5b5b5b; }
  :global .ant-picker-panel-rtl
.ant-picker-year-panel
.ant-picker-cell-range-hover-end::after,
  :global .ant-picker-panel-rtl
.ant-picker-quarter-panel
.ant-picker-cell-range-hover-end::after,
  :global .ant-picker-panel-rtl
.ant-picker-month-panel
.ant-picker-cell-range-hover-end::after {
    left: 272px \* 2/3-60px/2;
    border-radius: 2px 0 0 2px;
    border-left: 1px dashed #5b5b5b; }
  :global .ant-picker-week-panel .ant-picker-body {
    padding: 8px 12px; }
  :global .ant-picker-week-panel .ant-picker-cell:hover .ant-picker-cell-inner,
  :global .ant-picker-week-panel .ant-picker-cell-selected .ant-picker-cell-inner,
  :global .ant-picker-week-panel .ant-picker-cell .ant-picker-cell-inner {
    background: transparent !important; }
  :global .ant-picker-week-panel-row td {
    transition: background 0.3s; }
  :global .ant-picker-week-panel-row:hover td {
    background: #f5f5f5; }
  :global .ant-picker-week-panel-row-selected td,
  :global .ant-picker-week-panel-row-selected:hover td {
    background: #282828; }
  :global .ant-picker-week-panel-row-selected td.ant-picker-cell-week,
  :global .ant-picker-week-panel-row-selected:hover td.ant-picker-cell-week {
    color: rgba(255, 255, 255, 0.5); }
  :global .ant-picker-week-panel-row-selected
td.ant-picker-cell-today
.ant-picker-cell-inner::before,
  :global .ant-picker-week-panel-row-selected:hover
td.ant-picker-cell-today
.ant-picker-cell-inner::before {
    border-color: #fff; }
  :global .ant-picker-week-panel-row-selected td .ant-picker-cell-inner,
  :global .ant-picker-week-panel-row-selected:hover td .ant-picker-cell-inner {
    color: #fff; }
  :global .ant-picker-date-panel .ant-picker-body {
    padding: 8px 12px; }
  :global .ant-picker-date-panel .ant-picker-content {
    width: 252px; }
  :global .ant-picker-date-panel .ant-picker-content th {
    width: 36px; }
  :global .ant-picker-datetime-panel {
    display: flex; }
  :global .ant-picker-datetime-panel .ant-picker-time-panel {
    border-left: 1px solid #f0f0f0; }
  :global .ant-picker-datetime-panel .ant-picker-date-panel,
  :global .ant-picker-datetime-panel .ant-picker-time-panel {
    transition: opacity 0.3s; }
  :global .ant-picker-datetime-panel-active .ant-picker-date-panel,
  :global .ant-picker-datetime-panel-active .ant-picker-time-panel {
    opacity: 0.3; }
  :global .ant-picker-datetime-panel-active .ant-picker-date-panel-active,
  :global .ant-picker-datetime-panel-active .ant-picker-time-panel-active {
    opacity: 1; }
  :global .ant-picker-time-panel {
    width: auto;
    min-width: auto; }
  :global .ant-picker-time-panel .ant-picker-content {
    display: flex;
    height: 224px;
    flex: auto; }
  :global .ant-picker-time-panel-column {
    width: 56px;
    margin: 0;
    padding: 0;
    text-align: left;
    overflow-y: hidden;
    flex: 1 0 auto;
    list-style: none;
    transition: background 0.3s; }
  :global .ant-picker-time-panel-column::after {
    display: block;
    height: 196px;
    content: ""; }
  :global .ant-picker-datetime-panel .ant-picker-time-panel-column::after {
    height: 198px; }
  :global .ant-picker-time-panel-column:not(:first-child) {
    border-left: 1px solid #f0f0f0; }
  :global .ant-picker-time-panel-column-active {
    background: rgba(105, 99, 98, 0.2); }
  :global .ant-picker-time-panel-column:hover {
    overflow-y: auto; }
  :global .ant-picker-time-panel-column > li {
    margin: 0;
    padding: 0; }
  :global .ant-picker-time-panel-column
> li.ant-picker-time-panel-cell
.ant-picker-time-panel-cell-inner {
    display: block;
    width: 100%;
    height: 28px;
    margin: 0;
    padding: 0 0 0 14px;
    color: rgba(0, 0, 0, 0.85);
    border-radius: 0;
    line-height: 28px;
    cursor: pointer;
    transition: background 0.3s; }
  :global .ant-picker-time-panel-column
> li.ant-picker-time-panel-cell
.ant-picker-time-panel-cell-inner:hover {
    background: #f5f5f5; }
  :global .ant-picker-time-panel-column
> li.ant-picker-time-panel-cell-selected
.ant-picker-time-panel-cell-inner {
    background: #696362; }
  :global .ant-picker-time-panel-column
> li.ant-picker-time-panel-cell-disabled
.ant-picker-time-panel-cell-inner {
    background: transparent;
    color: rgba(0, 0, 0, 0.25);
    cursor: not-allowed; }
  :global _:-ms-fullscreen
.ant-picker-range-wrapper
.ant-picker-month-panel
.ant-picker-cell,
  :global :root .ant-picker-range-wrapper .ant-picker-month-panel .ant-picker-cell,
  :global _:-ms-fullscreen
.ant-picker-range-wrapper
.ant-picker-year-panel
.ant-picker-cell,
  :global :root .ant-picker-range-wrapper .ant-picker-year-panel .ant-picker-cell {
    padding: 21px 0; }
  :global .ant-picker-date-panel .ant-picker-cell-inner {
    border-radius: 50% !important; }
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end:not(.ant-picker-cell-in-range):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end)::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start-single::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-end-near-hover::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-start.ant-picker-cell-range-end.ant-picker-cell-range-start-near-hover::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end.ant-picker-cell-range-end-single::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-in-range)::after {
    position: absolute;
    top: 50%;
    height: 24px;
    border-top: 1px dashed #5b5b5b;
    z-index: 0;
    border-bottom: 1px dashed #5b5b5b;
    transform: translateY(-50%);
    transition: all 0.3s;
    content: ""; }
  :global .ant-picker-date-panel
tr
> .ant-picker-cell-in-view.ant-picker-cell-range-hover:first-child::after,
  :global .ant-picker-date-panel
tr
> .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:first-child::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start.ant-picker-cell-range-hover-edge-start-near-range::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover-edge-start-near-range)::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start::after {
    left: 6px;
    border-left: 1px dashed #5b5b5b;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%; }
  :global .ant-picker-date-panel
tr
> .ant-picker-cell-in-view.ant-picker-cell-range-hover:last-child::after,
  :global .ant-picker-date-panel
tr
> .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:last-child::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-edge-end.ant-picker-cell-range-hover-edge-end-near-range::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover-edge-end-near-range)::after,
  :global .ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end::after {
    right: 6px;
    border-right: 1px dashed #5b5b5b;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; }
  :global .ant-picker-year-panel .ant-picker-cell-inner {
    border-radius: 50% !important; }
  :global .ant-picker-year-panel .ant-picker-cell-inner:hover {
    background-color: #f6f6f6 !important;
    border-radius: 50%; }
  :global .ant-picker-decade-panel .ant-picker-cell-inner {
    border-radius: 50% !important; }
  :global .ant-picker-decade-panel .ant-picker-cell-inner:hover {
    background-color: #f6f6f6 !important;
    border-radius: 50%; }
  :global .ant-picker-month-panel .ant-picker-cell-inner {
    border-radius: 50% !important; }
  :global .ant-picker-month-panel .ant-picker-cell-inner:hover {
    background-color: #f6f6f6 !important;
    border-radius: 50%; }
  :global .ant-picker-rtl {
    direction: rtl; }
  :global .ant-picker-rtl .ant-picker-suffix {
    margin-right: 4px;
    margin-left: 0; }
  :global .ant-picker-rtl .ant-picker-clear {
    right: auto;
    left: 0; }
  :global .ant-picker-rtl .ant-picker-separator {
    transform: rotate(180deg); }
  :global .ant-picker-panel-rtl .ant-picker-header-view button:not(:first-child) {
    margin-right: 8px;
    margin-left: 0; }
  :global .ant-picker-rtl.ant-picker-range .ant-picker-clear {
    right: auto;
    left: 11px; }
  :global .ant-picker-rtl.ant-picker-range .ant-picker-active-bar {
    margin-right: 11px;
    margin-left: 0; }
  :global .ant-picker-rtl.ant-picker-range.ant-picker-small .ant-picker-active-bar {
    margin-right: 7px; }
  :global .ant-picker-dropdown-rtl .ant-picker-ranges {
    text-align: right; }
  :global .ant-picker-dropdown-rtl .ant-picker-ranges .ant-picker-ok {
    float: left;
    margin-right: 8px;
    margin-left: 0; }
  :global .ant-picker-panel-rtl {
    direction: rtl; }
  :global .ant-picker-panel-rtl .ant-picker-prev-icon,
  :global .ant-picker-panel-rtl .ant-picker-super-prev-icon {
    transform: rotate(135deg); }
  :global .ant-picker-panel-rtl .ant-picker-next-icon,
  :global .ant-picker-panel-rtl .ant-picker-super-next-icon {
    transform: rotate(-45deg); }
  :global .ant-picker-cell .ant-picker-cell-inner {
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 2px;
    transition: background 0.3s, border 0.3s; }
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-range-start::before {
    right: 50%;
    left: 0; }
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-range-end::before {
    right: 0;
    left: 50%; }
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-range-start.ant-picker-cell-range-end::before {
    right: 50%;
    left: 50%; }
  :global .ant-picker-panel-rtl
.ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-start
.ant-picker-cell-inner::after {
    right: 0;
    left: -6px; }
  :global .ant-picker-panel-rtl
.ant-picker-date-panel
.ant-picker-cell-in-view.ant-picker-cell-in-range.ant-picker-cell-range-hover-end
.ant-picker-cell-inner::after {
    right: -6px;
    left: 0; }
  :global .ant-picker-panel-rtl
.ant-picker-cell-range-hover.ant-picker-cell-range-start::after {
    right: 0;
    left: 50%; }
  :global .ant-picker-panel-rtl
.ant-picker-cell-range-hover.ant-picker-cell-range-end::after {
    right: 50%;
    left: 0; }
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-range-start-single):not(.ant-picker-cell-range-end)
.ant-picker-cell-inner {
    border-radius: 0 2px 2px 0; }
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single):not(.ant-picker-cell-range-start)
.ant-picker-cell-inner {
    border-radius: 2px 0 0 2px; }
  :global .ant-picker-panel-rtl
tr
> .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-selected):first-child::after,
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start.ant-picker-cell-range-hover-edge-start-near-range::after,
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover-edge-start-near-range)::after,
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-range-hover-start::after {
    right: 6px;
    left: 0;
    border-right: 1px dashed #5b5b5b;
    border-left: none;
    border-top-left-radius: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0; }
  :global .ant-picker-panel-rtl
tr
> .ant-picker-cell-in-view.ant-picker-cell-range-hover:not(.ant-picker-cell-selected):last-child::after,
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-edge-end.ant-picker-cell-range-hover-edge-end-near-range::after,
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover-edge-end-near-range)::after,
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-range-hover-end::after {
    right: 0;
    left: 6px;
    border-right: none;
    border-left: 1px dashed #5b5b5b;
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px; }
  :global .ant-picker-panel-rtl
tr
> .ant-picker-cell-in-view.ant-picker-cell-range-hover-start:last-child::after,
  :global .ant-picker-panel-rtl
tr
> .ant-picker-cell-in-view.ant-picker-cell-range-hover-end:first-child::after,
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover)::after,
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover-end.ant-picker-cell-range-hover-edge-start:not(.ant-picker-cell-range-hover)::after,
  :global .ant-picker-panel-rtl
.ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover-start.ant-picker-cell-range-hover-edge-end:not(.ant-picker-cell-range-hover)::after,
  :global .ant-picker-panel-rtl
tr
> .ant-picker-cell-in-view.ant-picker-cell-start.ant-picker-cell-range-hover.ant-picker-cell-range-hover-edge-start:last-child::after,
  :global .ant-picker-panel-rtl
tr
> .ant-picker-cell-in-view.ant-picker-cell-end.ant-picker-cell-range-hover.ant-picker-cell-range-hover-edge-end:first-child::after {
    right: 6px;
    left: 6px;
    border-right: 1px dashed #5b5b5b;
    border-left: 1px dashed #5b5b5b;
    border-radius: 2px; }
  :global .ant-picker-dropdown-rtl .ant-picker-footer-extra {
    direction: rtl;
    text-align: right; }
  :global .ant-picker-panel-rtl .ant-picker-time-panel {
    direction: ltr; }
